{% extends 'base.html' %}

{%block title%} About {%endblock title%}

{%block body %}
<h1> WELCOME TO KIDEFTY </h1>
<p> In today's world when both the parents work for living or for following their passion, its very difficult to take responsibilty of 
    picking and droping their child everyday from school. Someone has to be their to bring back their child from school. Mostly the parents give this responsibilty to 
a trusted person, but they always worry about their children's safety that they might go along with any unknown person who might be a 
threat to their safety. There has to be someone who keeps a check weather the child is picked by the right person or not. We pick your child from school 
and drop them to their stop and make sure that they go back along with the person you trust.</p>
<br></br>
<p> You can register to our website, provide the information and picture of the trusted guardian. We'll make sure that your child reach home safely
    so that you can work without any worry.
</p>

<h3> Your Kid's Safety is our Priority </h3>
<h3> Register Now </h3>
{% endblock body %}
